<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="../../ressource/css/style3.css" type="text/css" media="screen" />
</head>
<body>

<div class="title">
Thinkedit 1.0
</div>

<div class="mainmenu">
Content | Structure | Files | Options | Help | Logout
</div>



<div class="menu">
Search
<br/>
<input type="text"/>
<input type="submit" value="search"/>

<h2>Contextual actions</h2>                       
Create                                                                                                        
Add
Update                                                                                                      
Delete
                                                                    
                                             
<h2>Contextual help</h2>
hendre volutpat.
Obore tet, velit, cor alit adip
enim volutat luptatueros ero
consequ ipisis nonulla ndipsum
dolore tem nit, si blaorpero do-
loreros doluptat lum alit atis alit
nonumsa ndionul
 luptat, cons deliquat enim ilis
nit iriusci psustio nulputpat. Ut
eriurer cilluptat alit diat. Vcilit alit
autate velenibh elendiam dia-
met wisit er sequi tis






</div>

<div class="content">
<h1>List of articles</h1>

<div class="breadcrumb">
You are here : 
<a href="">Home</a> > 
<a href="">Content</a> >
<a href="">Articles</a>
</div>


<div class="select">
Select: <a href="">All</a>, <a href="">None</a>
</div>


<div class="select">
With selection : Edit | Delete | Move | Publish | Unpublish | Plugin...
</div>


<table>
<tr>

<td class="checkbox_col">
<input type="checkbox"/>
</td>

<td class="title_col">
An interesting article
</td>

<td class="action_col">
<a href="">Edit</a> | <a href="">Delete</a> | <a href="">Move</a>
</td>

</tr>


<tr>

<td>
<input type="checkbox"/>
</td>

<td>
An interesting article
</td>

<td>
Edit | Delete | Move
</td>

</tr>



<tr>

<td>
<input type="checkbox"/>
</td>

<td>
An interesting article
</td>

<td>
Edit | Delete | Move
</td>

</tr>



<tr>

<td>
<input type="checkbox"/>
</td>

<td>
An interesting article
</td>

<td>
Edit | Delete | Move
</td>

</tr>

</table>



<div class="actions">
<input type="submit" value="Add an article"/>
</div>

</div>



<div class="content">

<h2>Article</h2>
<div>Articles are the primary usefull content type in your cms</div>
<div>List | Add</div>


<h2>Article</h2>
<div>Articles are the primary usefull content type in your cms</div>
<div>List | Add</div>



<h2>Article</h2>
<div>Articles are the primary usefull content type in your cms</div>
<div class="action">List | Add</div>

</div>

</body>

</html>
