.bgcolor100
{
		background-color: #0099CC;
}


.bgcolor50
{
		background-color: #5AC5E8;
}

.bgcolor25
{
		background-color: #92E2FC
}

.color100
{
		color: #0099CC;
}


.color50
{
		color: #5AC5E8;
}

.color25
{
		color: #92E2FC
}
