.bgcolor100
{
		background-color: #99CC00;
}


.bgcolor50
{
		background-color: #C8EA70;
}

.bgcolor25
{
		background-color: #E3F8AD
}

.color100
{
		color: #99CC00;
}


.color50
{
		color: #C8EA70;
}

.color25
{
		color: #E3F8AD
}
