.bgcolor100
{
		background-color: #993366;
}


.bgcolor50
{
		background-color: #C86B9A;
}

.bgcolor25
{
		background-color: #D797B7
}

.color100
{
		color: #993366;
}


.color50
{
		color: #C86B9A;
}

.color25
{
		color: #D797B7
}
