.bgcolor100
{
		background-color: #ff9900;
}



.bgcolor50
{
		background-color: #ffb733;
}

.bgcolor25
{
		background-color: #FFD46D
}

.color100
{
		color: #ff9900;
}


.color50
{
		color: #ffcc00;
}

.color25
{
		color: #FFD46D
}
