/***************** structure **************/

body
{
	margin: 20px;
	padding: 0;
}


.title, .mainmenu
{
	font-size: 14px;
	color: #999;
	text-transform: uppercase;
}

.content
{
	margin-left: 240px;
	background-color:#fff;
	overflow: auto;
	margin-top: 40px;
}

/*
.actions
{
	margin-top: 20px;
	margin-bottom: 20px;
}
*/


.breadcrumb
{
	margin-bottom: 20px;
	
	
}

.menu
{
	position: absolute;
	width: 200px;
	left: 20px;
	padding:0px;
	margin:0px;
	top: 100px;
}

#header
{
}

#footer
{
}

#left
{
position: absolute;
left: 0px;
width: 190px;
color: #564b47;
margin: 0px; 
padding: 0px;
margin-left: 10px;

}

#right
{
  position: absolute;
right: 0px;        
width: 190px;
color: #564b47;
margin: 0px; 
padding: 0px;
}

.debug
{
	/*position: absolute;*/
	/*width: 200px;*/
	/*left: 600px;
	padding:0px;
	margin:0px;
	top: 100px;*/
	border: 1px solid red;
}

/***************** typo *******************/
body
{
	font-size: 11px;
	font-family: Arial, Sans-serif; 
}

a
{
	text-decoration: none;
}

a:link, a:active, a:visited  
{
	text-decoration: none;
	
}

a:hover
{
	text-decoration: underline;
	/*color: red;*/
}

h1
{
	font-size: 1.3em;
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 1em;
}

h2
{
	margin: 0;
	padding: 0;
	margin-top: 20px;
	font-size: 1.2em;
	color: #999;
	line-height: 1em;
}

p
{
	/*
	margin: 0;
	padding: 0;
	*/
	line-height: 1em;
}


.select, .select a
{
	color: #999;
}


/********************* table ***************/

table
{
	border: 0;
	padding: 0;
	max-width: 600px;
	/*padding-top: 10px;*/
	padding-bottom: 20px;
}

table, tr, td
{
	font-size: 1em;
}

tr, td
{
	padding: 0;
	margin: 0;
}

td
{
	border-bottom: 1px solid #999;
}

td.checkbox_col
{
	width: 25px;
}

td.title_col
{
	width: 400px;
}


/**************** forms ****************/

.button
{
	/*display: block;*/
	border: 1px solid black;
	margin: 5px; 
	padding: 5px;
	color: black;
}

.action
{
	font-weight: bold;
}

input
{
	font-size: 11px;
	border: 1px solid black;
	/*margin: 5px;*/ 
	padding: 3px;
	background-color: white;
}


/*************** debug *****************/

/*
div
{
	border: 1px solid red;
}
*/


