.bgcolor100
{
		background-color: #FF3300;
}


.bgcolor50
{
		background-color: #FF7A59;
}

.bgcolor25
{
		background-color: #FCA994
}

.color100
{
		color: #FF3300;
}


.color50
{
		color: #FF7A59;
}

.color25
{
		color: #FCA994
}
