
<html>

<head>
<link rel="stylesheet" href="../../ressource/css/style3.css" type="text/css" media="screen" />
</head>
<body>

<div class="title">
Thinkedit 1.0
</div>

<div class="menu">
Content | Structure | Files | Options | Help | Logout
</div>


<div class="content">
<h1>List of articles</h1>

<p>
You are here : 
<a href="">Home</a> > 
<a href="">Content</a> >
<a href="">Articles</a>
</p>


<div class="select">
Select: <a href="">All</a>, <a href="">None</a>
</div>


<div class="select">
With selection : Edit | Delete | Move | Publish | Unpublish | Plugin...
</div>


<table>
<tr>

<td class="checkbox_col">
<input type="checkbox"/>
</td>

<td class="title_col">
An interesting article
</td>

<td class="action_col">
<a href="">Edit</a> | <a href="">Delete</a> | <a href="">Move</a>
</td>

</tr>


<tr>

<td>
<input type="checkbox"/>
</td>

<td>
An interesting article
</td>

<td>
Edit | Delete | Move
</td>

</tr>



<tr>

<td>
<input type="checkbox"/>
</td>

<td>
An interesting article
</td>

<td>
Edit | Delete | Move
</td>

</tr>



<tr>

<td>
<input type="checkbox"/>
</td>

<td>
An interesting article
</td>

<td>
Edit | Delete | Move
</td>

</tr>

</table>



<div class="actions">
<input type="submit" value="Add an article"/>
</div>

</div>



<div class="content">

<h2>Article</h2>
<p>Articles are the primary usefull content type in your cms</p>
<p>List | Add</p>


<h2>Article</h2>
<p>Articles are the primary usefull content type in your cms</p>
<p>List | Add</p>



<h2>Article</h2>
<p>Articles are the primary usefull content type in your cms</p>
<p class="action">List | Add</p>

</div>

</body>

</html>
