<?xml version='1.0'?>
<!-- Interface main configuration file -->
<!--  each config file begins with the config tag -->
<config>











<!--  site-wide configuration -->
<site>
				<help>
						<fr>Bienvenue sur Thinkedit, le système de gestion de données et de contenu facile à utiliser</fr>
				</help>

<!-- available locales for this site -->

				<locale id="fr">
						<help>
								<fr>Fran&#231;ais</fr>
								<en>French</en>
						</help>
				</locale>

				<locale id="en">
						<help>
								<fr>Anglais</fr>
								<en>English</en>
						</help>
				</locale>




</site>



</config>
